extends layout

block content
  form(method="post")
    h2 Links
    textarea(name="list",placeholder="Lista de Arquivos",rows=20,cols=80) #{list}
    br
    h3 Limite de requisições: (Atualmente #{limit} req)
    br
    | 50
    input(type="range",name="limit",min=50,max=2000,step=10,value=limit)
    | 2000
    br
    h3 Tempo de espera em minutos: (Atualmente #{delay} min)
    br
    | 1
    input(type="range",name="delay",min=1,max=20,step=1,value=delay)
    | 20
    br
    button Enviar
